:root {
  --light-bg: #f1f1f2;
  --light-bg-rgb: 241, 241, 242;
  --light-text: #4c4c65;
  --light-text-rgb: 76, 76, 101;
  --dark-bg: #171723;
  --dark-bg-rgb: 23, 23, 35;
  --dark-text: #b2b2be;
  --dark-text-rgb: 178, 178, 190;
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
}

.my-iropicker {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.my-iropicker .my-iropicker-sliders {
  flex-grow: 1;
}

.my-iropicker .IroSlider {
  background: none !important;
}

.my-iropicker .my-iropicker-slider-rgb {
  display: none;
}

.my-iropicker.my-iropicker-rgb .my-iropicker-slider-rgb {
  display: block;
}

.my-iropicker.my-iropicker-rgb .my-iropicker-slider-hsl {
  display: none;
}

.my-iropicker .IroBox,
.my-iropicker .IroSliderGradient {
  border-color: #c9c9d7 !important;
  transition: border-color 0.5s var(--easeOutExpo);
}

body.dark-mode .my-iropicker .IroBox,
body.dark-mode .my-iropicker .IroSliderGradient {
  border-color: #55565b !important;
}

.my-iropicker-input-container {
  display: flex;
  align-items: center;
}

.my-iropicker-input {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100px;
  font-family: Roboto Mono;
  text-transform: uppercase;
}

.my-iropicker-color {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.reveal {
  overflow: hidden;
  height: 0;
  transition: height 0.25s var(--easeOutExpo); /* Animation setting */
}

.colorcards {
  display: grid;
  grid-template-columns: auto auto auto auto;

  gap: 8px;
}

@media (max-width: 1100px) {
  .colorcards {
    grid-template-columns: auto auto;
    grid-template-areas:
      'darker3 lighter3'
      'darker45 lighter45';
  }

  #colorcard-darker45 {
    grid-area: darker45;
  }

  #colorcard-darker3 {
    grid-area: darker3;
  }

  #colorcard-lighter3 {
    grid-area: lighter3;
  }

  #colorcard-lighter45 {
    grid-area: lighter45;
  }
}

.colorcard {
  --bkg: #77777e;
  --txt: #e2e2e4;
  color: var(--txt);
  background: linear-gradient(to right, var(--bkg) 50%, var(--txt) 50%);
  padding: 16px;
  border-radius: 16px;
  opacity: 0.2;
  flex: 1;
  min-width: 200px;
}

.colorcard h1 {
  margin: 0 0 16px 0;
  font-size: 34px;
  font-weight: 400;
}

.colorcard .colorcard-colorrefs {
  display: flex;
  font-size: 12px;
}

.colorcard .colorcard-colorrefs label {
  opacity: 0.87;
}

.colorcard .colorcard-colorref_bkg,
.colorcard .colorcard-colorref_txt {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: 4px 16px;
}

.colorcard .colorcard-colorref_txt {
  color: var(--bkg);
  margin-left: 16px;
}

.colorcard .colorcard-colorref-index,
.colorcard .colorcard-colorref-hex {
  font-family: Roboto Mono;
  font-weight: bold;
}

.colorcard .colorcard-divider {
  margin: 16px 0;
  height: 1px;
  background: linear-gradient(to right, var(--txt) 50%, var(--bkg) 50%);
  opacity: 0.32;
}

.colorcard h2 {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  width: 50px;
  width: calc(100% - 124px);
}

.colorcard .colorcard-wcaglevel {
  display: inline-flex;
  background-color: #fff;
  font-size: 11px;
  border-radius: 8px;
  font-weight: bold;
  font-family: Roboto Condensed;
  padding: 0 4px;
  line-height: 14px;
  transition:
    opacity 0.5s var(--easeOutExpo),
    color 0.5s var(--easeOutExpo);
}

.colorcard .colorcard-wcaglevel .material-icons {
  font-size: 14px;
  position: relative;
}

.colorcard .colorcard-wcaglevel_pass {
  color: #115e39;
}

.colorcard .colorcard-wcaglevel_fail {
  color: #9f1606;
  opacity: 0.25;
}

.colorcard .colorcard-wcaglevel_pass .icon-pass,
.colorcard .colorcard-wcaglevel_fail .icon-fail {
  display: inline;
}

.colorcard .colorcard-wcaglevel_pass .icon-fail,
.colorcard .colorcard-wcaglevel_fail .icon-pass {
  display: none;
}

.colorcard p {
  background: linear-gradient(to right, var(--txt) 50%, var(--bkg) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.colorcard .colorcard-large_20,
.colorcard .colorcard-large_14,
.colorcard .colorcard-regular_16,
.colorcard .colorcard-regular_12 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.colorcard .colorcard-large_20 {
  font-size: 20pt;
  margin: 0 0 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.colorcard .colorcard-large_14 {
  font-size: 14pt;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.colorcard .colorcard-icons {
  display: flex;
}

.colorcard .colorcard-icons_bkg,
.colorcard .colorcard-icons_txt {
  width: 100%;
}

.colorcard .colorcard-icons_txt {
  color: var(--bkg);
  margin-left: 16px;
}

.colorcard .colorcard-regular_16 {
  font-size: 16pt;
  margin: 0 0 8px 0;
}

.colorcard .colorcard-regular_12 {
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 20px;
  background-color: var(--light-bg);
  color: var(--light-text);
  transition-timing-function: var(--easeOutExpo);
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

#theme-toggle {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(var(--light-text-rgb), 0.64);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  transition-timing-function: var(--easeOutExpo);
  transition: 0.25s;
  top: 6px;
}

#theme-toggle:hover {
  background-color: rgba(var(--light-text-rgb), 0.1);
}

body.dark-mode #theme-toggle:hover {
  background-color: rgba(var(--dark-text-rgb), 0.1);
}

body.dark-mode #theme-toggle {
  border-color: rgba(var(--dark-text-rgb), 0.64);
}

#theme-toggle .icon-holder {
  width: 100%;
  height: 200%; /* 2 icons height */
  transition-timing-function: var(--easeOutExpo);
  transition: 0.25s;
  transform: translateY(-50%);
}

body.dark-mode #theme-toggle .icon-holder {
  transform: translateY(0%);
}

#theme-toggle .sun,
#theme-toggle .moon {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition-timing-function: var(--easeOutExpo);
  transition: 0.25s;
  color: var(--light-text);
}

body.dark-mode #theme-toggle .sun,
body.dark-mode #theme-toggle .moon {
  color: var(--dark-text);
}

.blendDistGraph {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 50px;
  top: 16px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s var(--easeOutExpo);
}

#toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}

#gradient-controls {
  display: grid;
  grid-template-columns: auto 1fr 60px;
  grid-gap: 10px; /* Add some spacing between the columns */
  margin-top: 16px;
  margin-bottom: 16px;
}

#gradient-controls label {
  font-weight: bold;
}

#gradient-controls select {
  max-width: 200px;
}

.color-scale-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 16px;
}

#color-scale-container-custom,
#color-scale-container-key {
  flex-wrap: nowrap;
}

.color-box {
  width: calc(100% / 101);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 16px;
  transition: transform 0.25s;
  transition-timing-function: var(--easeOutExpo);
  z-index: 1;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
  overflow: visible;
}

#color-scale-container-custom .color-box,
#color-scale-container-key .color-box {
  width: 100%;
  flex-shrink: unset;
}

.color-box:hover {
  transform: scale(1.3);
  z-index: 2;
}

.color-box span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Roboto Mono;
  text-transform: uppercase;
  pointer-events: none;
}

.color-box .color-number {
  top: -10px;
  font-size: 8px;
}

.color-box .color-hex {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition-timing-function: var(--easeOutExpo);
  transition:
    opacity 0.15s,
    bottom 0.15s;
  z-index: 999;
}

.color-box:hover .color-hex {
  opacity: 1;
  bottom: -30px;
}

.color-box .color-dot {
  width: 3px;
  height: 3px;
  background: white;
  outline: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.color-box .text-dot {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.color-box .background-dot {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

@media (max-width: 1100px) {
  #color-scale-container-full .color-box {
    width: calc(100% / 51);
  }
}

@media (max-width: 600px) {
  #color-scale-container-full .color-box {
    width: calc(100% / 26);
  }
}

@media (max-width: 400px) {
  #color-scale-container-full .color-box {
    width: calc(100% / 21);
  }
}

@media (max-width: 300px) {
  #color-scale-container-full .color-box {
    width: calc(100% / 21);
  }
}

#copied-message {
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 16px;
  padding: 8px;
  opacity: 0;
  z-index: 9999;
  border-radius: 4px;
}

#copied-message.show {
  display: block;
  opacity: 1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #55565b;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #33333d;
}

button.tonal {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #c9c9d7;
  color: #33333d;
  cursor: pointer;
  margin-right: 4px;
}

button.tonal:hover {
  background-color: #9297a6;
}

#dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: none;
}

#dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#dialog-title {
  font-weight: bold;
  font-size: 18px;
}

#dialog-close {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

#dialog-body {
  padding: 20px;
}

#dialog-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: right;
}

#dialog textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

#context-menu {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  color: #333;
  font-family: Arial, sans-serif;
  width: 200px;
  z-index: 1000;
  display: none;
  position: absolute;
}

#context-menu .menu-item {
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

#context-menu .menu-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#context-menu .menu-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}

#context-menu .menu-item:hover {
  background-color: #f0f0f0;
  background-clip: padding-box;
}

#context-menu .title {
  font-weight: bold;
  font-size: 0.8em;
  margin: 0;
}

#context-menu .subtitle {
  font-size: 0.6em;
  color: #666;
  display: block;
  margin: 0;
}

#context-menu .menu-item.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
