@use 'vuetify/styles' with (
  $body-font-family: (
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
  )
);

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f172a;
}
